@model OnlineShop.Models.PickupPoint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@Model.Id
<div>
    <h4>PickupPoint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Orders" asp-action="Index" asp-route-PickUpPointId="@Model?.Id">Orders in Pickup Point</a> |
    <a asp-controller="Workers" asp-action="Index" asp-route-PickUpPointId="@Model?.Id">Workers in Pickup Point</a> |
    <a asp-action="Index">Back to List</a>
</div>
